.ListStyle{
    margin: 70px;
}

.div1{
    display: flex;
    margin-left: 40px;
}
.join>button,.Login>button,.Contact>button,.Search>button,.Help>button,.Download>button,.Home>button,.Settings>button{
  
    height: 37px;
    width:160px;
    background-color: red;
    border-radius: 50px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.Search>button{
    background-color: rgb(4, 119, 75);
}
.Home>button{
    background-color: rgb(139, 24, 111);
}
.Setting>button{
    background-color: rgb(84, 126, 120);
}
.Login>button{
    background-color: rgb(226, 174, 4);
}
.join>button{
    background-color: rgb(7, 138, 155);
}
.Help>button{
    background-color: rgb(59, 32, 122);
}
.Download>button{
    background-color: rgb(100, 93, 27);
}
.Contact>button{
    background-color: rgb(121, 5, 5);
}

.P3{
    /* display: flex; */
    margin-left: 40px;
}

#Join,#Setting,#Login,#Contact,#Search,#Help,#Home,#Download{
    height: 37px;
    width:160px;
    background-color: red;
    border-radius: 50px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#Search{
    background-color: rgb(23, 119, 4);
}
#Home{
    background-color: rgb(7, 4, 6);
}
#Setting{
    background-color: rgb(0, 20, 17);
}
#Login{
    background-color: rgb(82, 228, 216);
}
#join{
    background-color: rgb(7, 138, 155);
}
#Help{
    background-color: rgb(59, 32, 122);
}
#Download{
    background-color: rgb(100, 93, 27);
}
#Contact{
    background-color: rgb(121, 5, 5);
}
.o{
    display: flex;
}




